/*@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');*/

@font-face {
  font-family: 'gummy';
  src: url('../assets/Gummy.ttf') format('truetype');
}

h1 {
  text-align: center;
  font-family: 'gummy';
}