/*@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');*/

@font-face {
  font-family: 'arcade_classic';
  src: url('../assets/fonts/arcade.ttf') format('truetype');
}
h1 {
  text-align: center;
  font-family: 'arcade_classic', monospace;
}